
body{
  background-color: hsl(233, 47%, 7%);
}
.container{
 margin: 150px auto;
 width: 335px;
 height: 800px;
 background-color:hsl(244, 38%, 16%);
 border-radius: 7px;

}

.header{
 background: hsl(277, 64%, 61%);
 background-blend-mode: multiply;
 background-image: url('IMG9.png') ;
 background-size: cover;
 height: 250px;
  max-width: 100%;
 border-radius: 7px 7px 0 0;
}

.top{
  margin: 30px;
  text-align: center;
  font-weight: 700;
}
.top h1{
  color: white;
  font-size: 30px;
  font-family: Inter;
}
.top span{
  color: hsl(277, 64%, 61%);
}
.middle{
  text-align: center;
  margin: 20px 30px; 
  color:hsla(0, 0%, 100%, 0.75) ;
  line-height: 1.5;
}
.middle p{
  font-family: Inter;
  font-size: 16.5PX;
  font-weight:400;
}
.stats{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 40px;
  font-size: 10px;
  font-weight: 400;
}
.stats h1{
  color: white;
  font-family: 'Lexend Deca';
}
.stats p{
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca';
}
@media screen and (min-width:750px){
  .container{
  height: 400px;
  width: 950px;
  }
  .header{
  background-image: url('IMG0.png');
  height: 400px;
  width: 50%;
  float: right;
  border-radius: 0 7px 7px 0;
  }
  .content{
    height: 400px;
    width: 400px;
    float: left;
    margin-left: 10px;
  }
  .content .stats{
    margin:40px 50px 0 29px;
  }
  .top{
  text-align: left;
  margin-top: 70px;
  }
  .top h1{
    font-size: 35px;
  }
  .middle{
    text-align: left;
    font-size: 15px;
  }
  .stats{
    flex-direction:row;
    text-align: left;
    justify-content: space-between;
  }
}
